{% extends "layout-password.html" %}

{% block passtemplate %}
<form action="/changepassword" method="post">
  <div class="imgcontainer">
    <img src="static\logoCyber.png" alt="Logo" class="logo2">
  </div>
  <div class="imgcontainer">
    <img src="static\project logo2.jpg" alt="Logo" class="logo">
  </div>
<label for="newpass"><b>Enter Your New Password</b></label>
<input type="text" placeholder="Enter Password" name="newpass" autocomplete="off" required>
<button type="submit" style="text-align:center;"><b>submit</b></button>
{% endblock %}